<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wkidt.wkcms.article.mapper.DocModelMapper" >
  <resultMap id="BaseResultMap" type="org.wkidt.wkcms.article.model.DocModel" >
    <id column="model_id" property="modelId" jdbcType="BIGINT" />
    <result column="model_name" property="modelName" jdbcType="VARCHAR" />
    <result column="model_type" property="modelType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    model_id, model_name, model_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from doc_model
    where model_id = #{modelId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from doc_model
    where model_id = #{modelId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.wkidt.wkcms.article.model.DocModel" >
    insert into doc_model (model_id, model_name, model_type
      )
    values (#{modelId,jdbcType=BIGINT}, #{modelName,jdbcType=VARCHAR}, #{modelType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.wkidt.wkcms.article.model.DocModel" >
    insert into doc_model
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="modelId != null" >
        model_id,
      </if>
      <if test="modelName != null" >
        model_name,
      </if>
      <if test="modelType != null" >
        model_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="modelId != null" >
        #{modelId,jdbcType=BIGINT},
      </if>
      <if test="modelName != null" >
        #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="modelType != null" >
        #{modelType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.wkidt.wkcms.article.model.DocModel" >
    update doc_model
    <set >
      <if test="modelName != null" >
        model_name = #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="modelType != null" >
        model_type = #{modelType,jdbcType=VARCHAR},
      </if>
    </set>
    where model_id = #{modelId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.wkidt.wkcms.article.model.DocModel" >
    update doc_model
    set model_name = #{modelName,jdbcType=VARCHAR},
      model_type = #{modelType,jdbcType=VARCHAR}
    where model_id = #{modelId,jdbcType=BIGINT}
  </update>
</mapper>